.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &-holder {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8rem 0;
    padding: 2rem;
    min-width: 150px;

    &:not(:first-child) {
      border-left: 1px solid black;
    }

    span {
      color: $primary-red;
      font-weight: 700;
      font-size: 32px;
    }
  }
}

@media (min-width: 1200.06px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .stats {
    flex-direction: column;
    &-holder {
      margin: 0 30%;
      padding-top: 1rem;
      &:not(:first-child) {
        border-left: none;
        border-top: 1px solid black;
      }
    }
  }
}
